body {
background:#ccc url(/i/bg.png);
margin:0;
padding:0;
font-family:'PT Sans', sans-serif;
}
.header {
padding:25px 0 30px 0;
font-size:36px;
text-align:center;
}
.header span {
background:#f0f0f0;
padding:0 0 5px 0;
width:60%;
display:block;
margin-left:auto;
margin-right:auto;
color:#666;
box-shadow:1px 1px 2px rgba(0,0,0,0.2);
border-radius:3px;
}
.topline {
background:url(/i/ltcline.png) top left no-repeat, url(/i/rtcline.png) top right no-repeat;
height:70px;
}
.topline div {
background:url(/i/tcline.png) top left repeat-x;
margin:0 79px 0 80px;
padding:8px 0 20px 0;
text-align:center;
color:#fde2cf;
font-size:18px;
font-weight:bold;
text-shadow:1px 1px 1px rgba(0,0,0,0.3);
}
.topline div span {
padding:0 10px;
}
.item {
float:left;
margin:1.5%;
width:30%;
height:230px;
text-align:center;
padding:20px 0;
background:rgba(255,255,255,0.5);
border:1px solid;
border-color:#fff rgba(0,0,0,0.3) rgba(0,0,0,0.3) #fff;
border-radius:3px;
}
.item a img {
max-width:250px;
max-height:200px;
border:0;
box-shadow:0 0 20px rgba(255,255,255,1);
}
.item p {
font-size:12px;
}
.clear {
clear:both;
}

