body {
font-family:helvetica,arial,sans-serif;
background:#f0f0f0;
background:url(bg.png) -100px -200px no-repeat, #f0f0f0 url(texture.png);
/*background:#f0f0f0 url(texture.png), url(bg.png) center -200px no-repeat;*/
}
#main {
margin:10px auto;
max-width:1200px;
}
.header {
height:100px;
border:#999 1px solid;
background:#fff;
margin:0 3px 10px 323px;
border-radius:2px;
}
#lg {
margin:20px 0 0 20px;
font-size:22px;
}
#suplg {
margin:5px 0 0 20px;
}
#suplg span {
border-top:#ccc 3px solid;
padding-top:5px;
display:inline-block;
}
.clear {
height:0px;
clear:both;
}
#search {
float:right;
margin:38px 10px 10px 10px;
}
#search input {
border:#6c6 1px solid;
font-size:14px;
height:20px;
line-height:20px;
margin:0px;
padding:0 3px;
}
#nav {
margin:0 0 0 320px;
border:rgba(0,0,0,0.155555) 3px solid;
border-radius:2px;
}
#nav #topmenu {
margin:0;
padding:0;
border-bottom:rgba(0,0,0,0.5) 2px solid;
border-top:rgba(255,255,255,0.3) 1px solid;
background:#36c;
background:-moz-linear-gradient(top,#f4ab70,#cf915f);
background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#cf915f), to(#f4ab70));
}
#nav #topmenu li {
margin:0;
padding:0;
border:0;
list-style-type:none;
display:inline-block;
height:34px;
line-height:27px;
border-right:rgba(0,0,0,0.5) 1px solid;
}
#nav #topmenu li a {
color:#fff;
text-decoration:none;
display:block;
padding:4px 10px 2px 10px;
border-left:rgba(255,255,255,0.3) 1px solid;
border-right:rgba(255,255,255,0.3) 1px solid;
border-bottom:0;
text-shadow:1px 1px 0px rgba(0,0,0,0.4);
}
#nav #topmenu li a:hover {
background:rgba(255,255,255,0.1);
}
#mainleft {
width:30%;
float:left;
}
#mainright {
width:70%;
float:right;
}
.sidebar {
border:#999 1px solid;
background:#fff;
margin:10px 10px 10px 3px;
padding:10px 30px;
border-radius:2px;
}
.sidebar ul {
margin:10px 0;
padding:0;
border-bottom:#ddd 1px solid;
}
.sidebar ul li{
margin:0;
padding:0;
list-style:none;
font-size:14px;
padding:10px 0;
border-top:#ddd 1px solid;
}
.sidebar ul li a {
color:#36c;
}
.content {
border:#999 1px solid;
background:#fff;
margin:10px 3px 10px 3px;
padding:10px 30px;
border-radius:2px;
}
.content h1 {
font-size:22px;
color:#333;
}
.content p {
margin-right:50px;
}
.footer {
height:60px;
border:rgba(0,0,0,0.3) 1px solid;
background:#fff;
margin:20px 3px 10px 3px;
border-radius:2px;
color:#666;
font-size:12px;
}
.footer .inside {
padding:10px;
line-height:40px;
}

